<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="hero">
    <h1>Találja meg a tökéletes parkolóhelyet</h1>
    <p>Valós idejű elérhetőség - Egyszerű parkolás</p>
</section>

<section class="stats">
    <div class="card">Összes hely: <strong>{{osszes}}</strong></div>
    <div class="card green">Elérhető: <strong>{{szabad}}</strong></div>
    <div class="card red">Foglalt: <strong>{{foglalt}}</strong></div>
    <div class="card yellow">Bérelt: <strong>{{berelt}}</strong></div>
</section>

</body>
</html>