<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="lista-container">
        <h2>Parkolóhelyek</h2>

        <!--BETÖLTÉS-->
        <p *ngIf="betoltes">Betöltés...</p>

        <!--HIBA-->
        <p class="hiba" *ngIf="hiba">{{hiba}}</p>

        <!--PARKOLÓK-->
        <div class="parkolo-grid" *ngIf="!betoltes">

            <div class="parkolo-kartya" *ngFor="let p of parkolok"
            [class.szabad] = "p.allapot === 0"
            [class.foglalt] = "p.allapot === 1">

                <div class="kartya-fejlec">
                    <h3>{{p.id}}</h3>

                    <span class="statusz"
                    [class.green] = "p.allapot === 0"
                    [class.red] = "p.allapot === 1">

                    {{p.allapot === 0 ? 'Szabad' : 'Foglalt'}}
                    </span>
                </div>

                <p>Típus: <strong>{{p.tipus}}</strong></p>

                <!--CSAK SZABAD PARKOLO FOGLALHATÓ-->
                <button *ngIf="p.allapot === 0" class="foglalas-gomb" (click)="foglalas(p)">Foglalás</button>

                <!--FOGLALT PARKOLÓ ESETÉN INFORMÁCIÓ-->
                <p *ngIf="p.allapot === 1" class="info">Ez a parkoló jelenleg foglalt</p>

            </div>
        </div>

        <!--HA NINCS PARKOLÓ-->
        <p *ngIf="!betoltes && parkolok.length === 0">Nincs megjeleníthető parkoló</p>

        <!--FOGLALÁS LEZÁRÁSA-->
        <app-foglalas *ngIf="kivalasztott" [parkolo]="kivalasztott" (close)="Bezaras()"></app-foglalas>
    </section>
</body>
</html>
